@media screen and (max-width: 1920px) {

    section.servicos {
        padding: 20px 0 80px;
        max-height: 600px;
    }

}

@media screen and (max-width: 1440px) {

    /* produtos */
    section.produtos {
        padding: 45px 80px;
    }

    .produtos .img-itens img {
        max-width: 200px;
    }

    /* serviços */

    section.servicos {
        max-height: 700px;
    }

    /* galeria */


    .galeria .titulo-galeria h2 {
        text-align: center;

    }

    .galeria .img-galeria {
        justify-content: space-around;
        gap: 40px;

    }

    .galeria .img-galeria img {
        max-width: 300px;
    }

    /* certificação */

    .certificacao .txt-certificacao h3 {
        padding: 0px 20px;

    }

}

@media screen and (max-width: 1340px) {

    section.hortalicas {
        padding: 150px 60px 80px;
    }

}



@media screen and (max-width: 1250px) {

    /* cabeçalho responsivo */
    header .menu-desktop {
        display: none;
    }

    header .menu-desktop-historia {
        display: none;
        background-color: #f7d8cb;
    }

    header .botao {
        display: block;
        z-index: 100;

    }

    header .interface {
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }

    header .menu-mobile.abrir {
        visibility: visible;
        height: 120vh;

    }

    .produtos .img-itens {
        gap: 25px;

    }

    .produtos .img-itens .img-container {
        margin-bottom: 5px;

    }


    /* história */

    section.historia {
        padding: 40px 50px;
    }

}


@media screen and (max-width: 1115px) {

    /* compromisso */
    .compromisso .txt-compromisso {
        justify-content: space-around;
    }



    /* serviços */

    section.servicos {
        padding: 20px 0 80px;
        height: 100vh;

    }

    .servicos .txt-servicos h2 {
        font-size: 2rem;
        margin: 20px 0;
    }

    .txt-servicos-box h4 {
        font-size: 1.2rem;
    }

    .servicos .servicos-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .servicos .txt-servicos-box {
        padding: 20px;
        max-width: 90%;
        min-height: 240px;
        border-radius: 40px;
    }

    .txt-servicos-box ul li {
        font-size: 1rem;
    }


    .txt-servicos-box p {
        font-size: 1rem;
    }
}



@media screen and (max-width: 920px) {

    /* sobre */
    section.sobre {
        padding: 40px 15px 50px;

    }

    /* produtos */
    section.produtos {
        padding: 45px 40px;
    }


    /* certificação */
    .certificacao .txt-certificacao h3 {
        font-size: 2.2rem;

    }

    section.hero-historia {
        height: 15vh;

    }




}


@media screen and (max-width: 810px) {

    /* certificação */
    .certificacao .txt-certificacao h3 {
        font-size: 2.1rem;

    }

    /* compromisso */
    section.compromisso {
        padding: 100px;
    }


    .txt-compromisso .compromisso-container {
        margin-bottom: 30px;

    }


    .txt-compromisso .compromisso-container .txt-compromisso-box h3 {
        margin-bottom: 10px;

    }

}



@media screen and (max-width: 780px) {

    /* produtos */

    .produtos .img-itens {
        gap: 25px;
    }

    .produtos .img-itens .img-container {
        margin-bottom: 5px;

    }

    /* certificação */

    .certificacao .txt-certificacao .img-certificacao img {
        width: 150px;
        max-height: 300px;

    }


}



@media screen and (max-width: 725px) {

    /* certificação */

    setion.certificacao {
        padding: 40px 10px;

    }

    .certificacao .txt-certificacao h3 {
        font-size: 1.8rem;
        line-height: 40px;
    }


}





@media screen and (max-width: 640px) {

    /* hortaliças */


    section.hortalicas {
        padding: 150px 30px 30px;
    }

    .hortalicas-box .hortalicas-txt {
        max-width: 180px;
    }


    .hortalicas .titulo-hortalicas {
        font-size: 1.8rem;
    }

    .hortalicas-box .hortalicas-box-img img {
        max-width: 130px;

    }



}




@media screen and (max-width: 635px) {

    /* produtos */

    .produtos .titulo-produtos h2 {
        font-size: 2.6rem;
        margin-bottom: 30px;
        color: #613737;

    }

    /* certificação */

    .certificacao .txt-certificacao .img-certificacao img {
        width: 140px;
        max-height: 200px;

    }

    /* contato */

    .contato .txt-contato .icons-contato a {
        font-size: 2.5rem;
        width: 400px;
    }

    /* footer */

    footer {
        padding: 30px 0 20px;
    }

    footer .footer-container .left-footer p,
    footer .footer-container .right-footer {
        font-size: 0.9rem;
    }

    footer .footer-container {
        display: flex;
        align-items: end;
        justify-content: center;
        text-align: center;
        gap: 30px;

    }


}


@media screen and (max-width: 550px) {

    /* sobre */
    .sobre .itens-container .txt-itens h2 {
        font-size: 2.5rem;

    }


    /* produtos */

    .produtos .titulo-produtos h2 {
        font-size: 2.3rem;
        margin-bottom: 30px;
        color: #613737;

    }

    .produtos .titulo-produtos p {
        margin-bottom: 35px;
        font-size: 1.2rem;
    }


    /* certificação */
    .certificacao .txt-certificacao h3 {
        font-size: 1.5rem;
        line-height: 30px;
    }

    .certificacao .txt-certificacao .img-certificacao img {
        width: 120px;
        max-height: 200px;

    }

    /* compromisso */
    section.compromisso {
        padding: 60px 20px;
    }

    .compromisso .titulo-compromisso h2 {
        line-height: 45px;

    }

    /* galeria */
    .galeria .img-galeria img {
        max-width: 340px;
    }


}


@media screen and (max-width: 520px) {

    .sobre .itens-container .txt-itens h2 {
        font-size: 2.2rem;
        margin-bottom: 20px;

    }

    .sobre .itens-container .txt-itens p {
        margin-bottom: 50px;
        font-size: 0.9rem;
        line-height: 25px;

    }

    /* servicos */

    section.servicos {
        padding: 20px 0 80px;
        min-height: 820px;
    }


    /* história */

    section.historia {
        padding: 40px 20px;
    }

    .historia .txt-itens-historia h2 {
        font-size: 2.3rem;

    }

    .historia .txt-itens-historia p {
        font-size: 0.9rem;
        line-height: 25px;

    }

    .historia .img-itens-historia {
        justify-content: center;
        gap: 50px;
    }

    /* footer */

    footer .footer-container .left-footer p,
    footer .footer-container .right-footer {
        font-size: 0.8rem;
    }

    footer .footer-container {
        display: flex;
        align-items: end;
        justify-content: center;
        text-align: center;
        gap: 30px;

    }

    /* hortaliças */

    .hortalicas .titulo-hortalicas h2 {
        font-size: 2rem;
        text-align: center;
        line-height: 40px;
    }

    .hortalicas .hortalicas-container .hortalicas-box {
        gap: 70px;
    }


}


@media screen and (max-width: 431px) {

    html {
        scroll-padding-top: calc(4vh + 27px);
    }


    .sobre .itens-container .txt-itens h2 {
        font-size: 2rem;
        margin-bottom: 20px;
    }


    /* produtos */

    section.produtos {
        padding: 50px 20px;
    }

    .produtos .titulo-produtos h2 {
        font-size: 2rem;
        margin-bottom: 10px;
    }

    .produtos .img-itens .img-container {
        margin-bottom: 5px;
    }

    .produtos .img-itens {
        gap: 40px;

    }

    /* serviços */



    section.servicos {
        background-attachment: scroll;

    }

    .servicos .txt-servicos h2 {
        padding-top: 10px;
    }




    /* certificação */

    section.certificacao {
        padding: 60px 0;
    }

    .certificacao .txt-certificacao h3 {
        font-size: 1.4rem;

    }

    .certificacao .txt-certificacao .img-certificacao img {
        max-width: 100px;
        max-height: 200px;
    }

    .certificacao .txt-certificacao .img-certificacao {
        display: flex;
        align-items: center;
        gap: 30px;
    }


    /* história */


    .historia .img-itens-historia img {
        max-width: 350px;
    }

    /* hortaliças */

    section.hortalicas {
        padding: 150px 10px 30px;
    }

    .hortalicas-box .hortalicas-box-img img {
        max-width: 120px;
    }

    .hortalicas .hortalicas-container .hortalicas-box {
        gap: 50px;
    }


    /* footer */

    footer {
        padding: 30px 0 20px;
    }

   
    footer .footer-container {
        gap: 10px;
    }

    footer .footer-container .left-footer {
        width: 40%;

    }

    /* contato */

    .contato .txt-contato .icons-contato a {
        font-size: 1.5rem;
        max-width: 330px;
        padding: 40px 20px;
    }

    section.contato {
        background-attachment: scroll;

    }

}


@media screen and (max-width: 394px) {

    /* contato */
    .contato .txt-contato h3 {
        font-size: 2.3rem;
    }

    /* footer */
    footer .bottom-footer p {
        font-size: 0.7rem;
    }


    /* certificação */
    .certificacao .txt-certificacao .img-certificacao img {
        max-width: 85px;
        max-height: 200px;
    }

    .certificacao .txt-certificacao .img-certificacao {
        gap: 20px;
    }

    /* historia */

    .historia .img-itens-historia img {
        max-width: 320px;
    }

    /* galeria */

    .galeria .img-galeria img {
        max-width: 320px;

    }

}


@media screen and (max-width: 321px) {

    html {
        scroll-padding-top: 3.2rem;
    }

    /* serviços */

    section.servicos {
        padding: 20px 0 80px;
        min-height: 860px;
    }

    .txt-servicos-box p {
        text-align: left;

    }

    /* contato */

    .contato .txt-contato .icons-contato a {
        font-size: 1rem;
        max-width: 300px;
        padding: 40px 20px;
    }

    /* produtos */

    .produtos .titulo-produtos h2 {
        font-size: 2rem;
        line-height: 40px;
    }

    /* certificaçao */

    .compromisso .titulo-compromisso h2 {
        font-size: 2rem;
        line-height: 35px;

    }

    /* hortaliças */


    .hortalicas-box .hortalicas-box-img img {
        max-width: 75px;
    }

    .hortalicas-box .hortalicas-txt {
        width: 175px;
    }


    .hortalicas-box .hortalicas-txt h3 {
        font-size: 1rem;
    }

    .hortalicas .titulo-hortalicas h2 {
        font-size: 1.8rem;
        line-height: 35px;
    }

    .hortalicas-box .hortalicas-txt ul li {
        font-size: 0.9rem;
    }


    /* contatos */

    section.contato {
        height: 400px;

    }

    .contato .txt-contato h3 {
        font-size: 2rem;
        margin: 20px 0 5px;
    }

    .contato .txt-contato .icons-contato a {
        font-size: 2rem;
    }

    .contato .txt-contato .icons-contato p {
        font-size: 1.1rem;
    }



    /* galeria */
    section.galeria {
        padding: 150px 0 50px;

    }

    .galeria .img-galeria img {
        max-width: 290px;

    }

    /* footer */

    footer .footer-container .left-footer p,
    footer .footer-container .right-footer {
        font-size: 0.7rem;
    }

    /* historia */

    .hero-historia .titulo-historia h2 {
        font-size: 1.7rem;
    }

    .historia .txt-itens-historia h2 {
        font-size: 2rem;

    }

    .historia .txt-itens-historia p {
        line-height: 25px;
    }


    .historia .img-itens-historia img {
        max-width: 290px;
    }







}